<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Board-Mapper">
	
	<sql id="search">
		<if test="searchType == 't'.toString()">
			and title like '%'||#{keyword}||'%'		
		</if>
		<if test="searchType == 'w'.toString()">
			and writer like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			and content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'tc'.toString()">
			and title like '%'||#{keyword}||'%'		
			or content like '%'||#{keyword}||'%'
		</if>
		<if test="searchType == 'cw'.toString()">
			and content like '%'||#{keyword}||'%'
			and writer like '%'||#{keyword}||'%'
		</if>
	</sql>
	
	<select id="selectBoardCriteria" resultType="board">
		select
		*
		from board
		where id is not null
		<include refid="search" />
		order by bno desc
	</select>
	
	<select id="selectBoardCriteriaTotalCount" resultType="int">
		select
		count(*)
		from member
		where id is not null
		<include refid="search" />
		order by regDate desc
	</select>
	
	
	
</mapper>